.add-history__wrap {
  background: @dark-background-color url("../img/back-mobile@1x.jpg") no-repeat;
}

.add-history__caption {
  width: 280px;

  margin: 0 auto;
  .indents-mobile();
  padding-top: 95px;
  padding-bottom: 40px;

  text-align: center;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @secondary-font-color;
}

.add-history__text {
  width: 280px;

  margin: 0 auto;
  .indents-mobile();
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @main-font-color;
}

.add-history__text-addition {
  display: none;
}

@media (min-width: @tablet-width) {
  .add-history__caption {
    width: 620px;

    .indents-tablet();

    font-size: 50px;
    line-height: 50px;
  }

  .add-history__text {
    width: 565px;

    .indents-tablet();

    font-size: 18px;
    line-height: 30px;
  }

  .add-history__text-addition {
    display: inline-block;
  }

}

@media (min-width: @desktop-width) {
  .add-history__caption {
    width: 820px;

    .indents-desktop();
  }

  .add-history__text {
    width: 820px;

    .indents-desktop();
  }
}
