.add-history__wrap {
  background: @dark-background-color url("../img/back-mobile@1x.jpg") no-repeat;
}

.add-history__caption {
  width: 280px;

  margin: 0 auto;
  .indents-mobile();
  padding-top: 95px;
  padding-bottom: 52px;

  text-align: center;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @secondary-font-color;
}

.add-history__text {
  width: 280px;

  margin: 0 auto;
  .indents-mobile();
  padding-top: 45px;
  padding-bottom: 14px;

  text-align: center;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @main-font-color;
}

.add-history__text-addition {
  display: none;
}
///////////////////////////////////////////////////////////////////////////////
@media (min-width: @tablet-width) {
  .add-history__wrap {
    background: @dark-background-color url("../img/back-tablet@1x.jpg") no-repeat;
  }

  .add-history__caption {
    width: 620px;

    .indents-tablet();
    padding-top: 180px;
    padding-bottom: 80px;

    font-size: 50px;
    line-height: 60px;
  }

  .add-history__text {
    width: 515px;

    .indents-tablet();
    padding-top: 92px;
    padding-bottom: 51px;

    font-size: 18px;
    line-height: 30px;
  }

  .add-history__text-addition {
    display: inline-block;
  }
}
////////////////////////////////////////////////////////////////////////////
@media (min-width: @desktop-width) {
  .add-history__wrap {
    background: @dark-background-color url("../img/back-desktop.jpg") no-repeat;
  }

  .add-history__caption {
    width: 820px;
    .indents-desktop();
    padding-top: 173px;
    padding-bottom: 101px;
  }

  .add-history__text {
    width: 765px;

    .indents-desktop();
    padding-bottom: 78px;
  }
}
