.advantages {
  padding-top: 42px;
}

.advantages__wrapper {
  background-color: @main-background-color;
}

.advantages__caption {
  margin: 0;
  padding-bottom: 30px;

  text-align: center;

  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: @main-font-color;
}

.advantages__list {
  margin: 0;
  padding: 40px 0 0 0;

  list-style: none;

  background-color: @secondary-background-color;
}

.advantages__list::after {
  content: "";

  display: block;

  width: 157px;
  height: 277px;

  margin: 0 auto;

  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
}

.advantages__title {
  margin: 0;
  margin-bottom: 7px;

  text-align: center;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.advantages__description {
  margin: 0 auto;
  margin-bottom: 18px;

  width: 268px;

  text-align: center;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @main-font-color;
}
