.button-submit {
  display: block;

  box-sizing: border-box;

  width: 280px;
  height: 59px;

  margin: 0 auto;
  padding-top: 5px;

  text-align: center;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: @secondary-font-color;

  background-color: #2aab6d;

  border-width: 0;

  cursor: pointer;
}
