.button {
  display: inline-block;

  box-sizing: border-box;

  margin: 0 auto;
  padding-top: 14px;

  width: 280px;
  height: 55px;

  text-align: center;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  border-width: 3px;
  border-style: solid;
  border-radius: 27px;

  cursor: pointer;
}

.button--download {
  color: @secondary-font-color;

  border-color: @secondary-font-color;
}

.button--post {
  margin-bottom: 12px;
  padding-top: 0;

  color: @bright-font-color;

  background-color: @secondary-background-color;

  border-color: @bright-font-color;
}

.button--cancel {
  padding-top: 0px;

  color: @main-font-color;

  background-color: @secondary-background-color;

  border-color: @main-font-color;

  opacity: 0.1;
}
