.contacts {

  padding-top: 20px;
  text-align: center;

  background-color: @main-background-color;
}

.contacts::after {
  content: "";

  display: block;

  height: 200px;

  background: url("../img/bg-map-mobile@1x.png") no-repeat left bottom;
}

.contacts__caption {
  .indents-mobile();
  margin-bottom: 10px;

  text-align: center;

  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: @main-font-color;
}

.contacts__wrapper {
  .indents-mobile();
}

.contacts__title {
  display: block;

  .reset-indents();
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @main-font-color;
}

.contacts__text {
  display: block;

  width: 280px;
  .reset-indents();
  margin: 0 auto;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: @bright-font-color;
}

@media (min-width: @tablet-width) {
  .contacts__caption {
    font-size: 40px;
    line-height: 40px;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .indents-tablet();
  }

  .contacts__wrap {
    width: 300px;
  }

  .contacts__wrap:last-child {
    flex-basis: 100%;
  }

  .contacts::after {
    height: 373px;

    background: url("../img/bg-map-tablet@1x.png") no-repeat center -347px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    .indents-desktop();
  }

  .contacts__caption {
    font-size: 50px;
    line-height: 50px;
  }

  .contacts__wrap:nth-child(2) {
    order: 3;
  }

  .contacts__wrap:last-child {
    flex-basis: 280px;
  }

  .contacts::after {
    height: 500px;

    background: url("../img/bg-map-desktop@1x.png") no-repeat center -405px;
  }
}
