.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.copyright__text {
  margin-right: 10px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @main-font-color;
}
