.download-application {
  padding: 0px 0 30px 0;

  text-align: center;

  background-color: #1d2631;
}

.download-application::before {
  content: "";

  display: block;

  height: 462px;

  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom,
              url("../img/bg-back-mobile@1x.jpg") no-repeat ;
}

.download-application .download-application__button {
  margin-top: 20px;
}

.download-application__text {
  margin: 0 auto;

  width: 280px;

  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @secondary-font-color;
}
