.emotions__title {
  margin: 0;
  margin-bottom: 10px;

  text-align: center;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: @bright-font-color;
}

.emotions__comment {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @main-font-color;
}
