.feedback__label {
  display: block;

  margin-top: 10px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: @bright-font-color;
}

.feedback__field {

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @main-font-color;
}
