.history__personal-data {
  padding: 10px 20px 40px 20px;

  background-color: @main-background-color;
}

.history__achievements {
  background-color: @secondary-background-color;

  border: none;
}

.history__application {
  background-color: @secondary-background-color;

  border: none;
}

.history__emotions {
  padding: 10px 20px 40px 20px;

  background-color: @main-background-color;
}

.history .history__button {
  margin-bottom: 20px;
}

.history__comment-wraper {
  display: block;

  text-align: center;
}

.history__footnote {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @bright-font-color;
}
.history__comment {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: @main-font-color;
}
