.page-footer {
  .indents-mobile();
  padding-top: 36px;
  padding-bottom: 40px;

  text-align: center;

  background-color: @main-background-color;

  &--hide {
    display: none;
  }
}

.page-footer__social {
  margin-top: 20px;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    .indents-desktop();

  }
}
