.page-header {
  margin-bottom: -66px;
}

.page-header__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding: 21px 20px 21px 20px;

  background-color: rgba(0, 0, 0, 0.3);

  z-index: 10;
}

.page-header__logo {
  line-height: 0;
}

.page-header__toggle {
  padding: 0;

  line-height: 0;

  background-color: inherit;

  border: none;
}
