.post {
  position: relative;

  background-color: @secondary-background-color;
}

.post--panorama .post__image {
  width: 100vw;
  height: auto;

  margin-left: ~"calc(-50vw + 50%)";
  margin-right: ~"calc(-50vw + 50%)";

  background: red;

  &::before {
    position: absolute;
  }
}

.post__image {
  display: block;
}

.post__title {
  position: absolute;
  top: 0;
  right: 0;

  box-sizing: border-box;

  width: 140px;
  height: 36px;
  padding-top: 5px;

  text-align: center;

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: @secondary-font-color;

  background-color: #d22856;
}

.post__content-wrapper {
  padding: 18px 20px 20px 17px;
}

.post__wrap {
}

.post__author-name {
  .reset-indents();

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: @main-font-color;
}

.post__time {
  .reset-indents();

  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: @main-font-color;
}

.post__description {
  .reset-indents();
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @main-font-color;
}

.post__like {
  display: flex;

  width: 140px;

  &::before {
    content: "";

    // display: block;

    width: 13px;
    height: 12px;
    margin-top: 5px;
    margin-right: 20px;

    background: url("../img/icon-heart.svg") no-repeat top right;
  }
}

.post__like-text {
  margin-right: 1px;
}

.post__like-text,
.post__like-count {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: @bright-font-color;
}

@media (min-width: @tablet-width) {
  .post {
    position: relative;

    width: 300px;
  }

  .post__title {
    top: 57px;
  }

  .post__content-wrapper {
    box-sizing: border-box;

    min-height: 155px;
    padding: 24px 32px 49px 27px;
  }

  .post__content-wrapper--panorama {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    min-height: auto;
    padding: 24px 29px 15px 27px;
  }

  .post__content-wrapper--panorama .post__description {
    flex-grow: 1;
    order: 5;

    width: 100%;
  }

  .post__like {
    position: absolute;
    bottom: 22px;

    flex-direction: row-reverse;

    width: 241px;

    &::before {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .post__like-text {
    margin-right: 2px;

    order: 10;
  }

  .post__like--panorama {
    position: static;

    width: 140px;
    &::before {
      margin-left: 18px;
    }
  }
}

@media (min-width: @desktop-width) {
  .post__title {
    top: 54px;
  }

  .post__content-wrapper--panorama {
    padding-bottom: 14px;
  }
}
