.site-list {
  .reset-indents();
  list-style: none;
}

.site-list__item {
  text-align: center;
}

.site-list__link {
  display: block;

  padding-top: 15px;
  padding-bottom: 15px;

  box-sizing: border-box;

  min-height: 63px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: @secondary-background-color;
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 642px;
  }

  .site-list__link {
    font-weight: 400;
    text-transform: none;
  }

}



