.tariff {
  background-color: @secondary-background-color;
}

.tariff__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @secondary-font-color;
}

.tariff__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @secondary-font-color;
}

.tariff__feature-name {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: @main-font-color;
}
